.jumbotron {
    align-items: center;

}
    #CodingExp {
    font-family: 'Major Mono Display',cursive;
 color: white;
 text-align: center;
 font-size: 45px;
}

#jumboText {
    color: white;
    text-align: center;
    font-size: 25px;
}