
    #navbar {
        padding: 20px;
    }
    #aboutmename{
        font-family: 'Major Mono Display',cursive;
        font-size: 40px;
        color: white;
        
    }
    
    .nav-item {
        font-family: 'Major Mono Display',cursive;
       
    
    }

    .move-right {
        /* display: flex; */
        /* justify-content: flex-end; */
       font-size: 40px;
       color: white;
       margin-left: auto;
       font-family: 'Major Mono Display',cursive;
      
    }

    .navitemcolor {
        color: white;
    }
    
#responsive-navbar-nav {
    color: white !important;
}