
    #navbar {
        padding: 20px;
        background-color: transparent;
    ;
        
        
    }
    #aboutmename{
        font-family: 'Major Mono Display',cursive;
        font-size: 40px;
        
    }
    
    .nav-item {
        font-family: 'Major Mono Display',cursive;
        float: right;
    
    }

    .move-left {
        display: flex;
        justify-content: flex-end;
       font-size: 25px;
    }
